$color-primary:#ff8a00;
$color-secondary:#2a3242;
$color-tertiary:#126986;

$color-secondary-1: #f6cd9d;

$color-grey-light:#ededed;
$color-grey-light-1: rgb(248, 248, 248);
$color-grey-light-2: rgb(196, 196, 196);
$color-grey-light-3: rgb(73, 73, 73);
$color-grey-light-4: #5b5a5e;
$color-grey-light-5:#EDEDED;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white:#ffffff;
$color-black:#000000;

$color-delete:rgb(255, 5, 5);

$color-success:rgb(25, 143, 25);

$color-error:rgb(151, 28, 28);
$color-notification:#126986;


$color-typography:#212529;


$extraa-largest-breakpoints: 100em;//1600px
$extra-laargest-breakpoints: 87.5em;//1400px;
$extra-largest-breakpoints:81.3em; //1300px
$extra-large-breakpoints: 75em; //1200px
$largest-breakpoints:68.75em; //1100px
$large-breakpoints1:64em; //1024px
$large-breakpoints: 62em; //992px
$large-medium-breakpoints:56.25em; //900px
$medium-breakpoints: 48em; //768px
$small-breakpoints-1:41.875em;
$small-breakpoints: 37.5em; //600px
$smallest-breakpoints:31.25em;//500px
$extra-small-breakpoints:25em;//400px
$extra-smallest-breakpoints:21.8em;//348px