{% extends "ecomapp/base.html" %}
{% load static %}

{% block content %}

<form action="" method="post" class="LoginPage">
    {% csrf_token %}
    <h2 class="LoginPage_Heading">Send Mail</h2>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <!-- <strong>error</strong> -->
            {{message}}
        </div>
        <!-- <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> -->
        {% endfor %}
    </ul>
    {% endif %}
    <input name="reset-token" required type="number" class="LoginPage_InputField" placeholder="Reset Token">
    <input name="password" required type="password" class="LoginPage_InputField" placeholder="Password">
    <input name="confirm_password" required type="password" class="LoginPage_InputField" placeholder="Confirm Password">

    <button type="submit" class="LoginPage_Button">Reset Password</button>

</form>

{% endblock content %}


<!-- JS BLOCK  -->
{% block jscontent %}
{% endblock jscontent %}
<!-- JS BLOCK END -->