<footer class="Footer">
   <div class="Footer_Container">
    <div class="Footer_Container_Top">
        <div class="Footer_Container_Top_Box">
            <div class="Footer_Container_Top_Box_LogoBox">
                <img src="../../../static/images/RozaiLogo.png" alt="Rozai Logo" class="Footer_Container_Top_Box_LogoBox_Logo">
            </div>
            <p>
                rozai a family-owned business. Changes are in store for Paula when her grandfather promotes her and fires her cousin-who then blames Paula.
            </p>
        </div>
        <div class="Footer_Container_Top_Box">
            <h4>Company</h4>
            <p>About Rozai</p>
            <p>Careers</p>
            <p>Terms & Conditions</p>
            <p>Privacy Policy</p>
            <p>Digital Payments</p>
            <p>Refund and Returns Policy</p>
        </div>
        <div class="Footer_Container_Top_Box">
            <h4>TOP CATEGORIES</h4>
            <p>Daily Needs</p>
            <p>Electronics & Appliances</p>
            <p>Men's Fashion</p>
            <p>Women's Fashion</p>
        </div>
        <div class="Footer_Container_Top_Box">
            <h4>CONTACT US</h4>
            <p>01-4426099, 9818207012</p>
            <p>rozaitraders@gmail.com</p>
            <p>Nursery Rd Lazimpat, Kathmandu</p>
        </div>
    </div>
    <div class="Footer_Container_Bottom">
        <div class="Footer_Container_Bottom_Box">
            <h4>STAY CONECTED WITH US</h4>
          <p>Get a free subscription to our website and stay tuned to our latest offers</p>
          <input type="text" class="Footer_Container_Bottom_Box_Input" placeholder="Email Address">


        </div>
        <div class="Footer_Container_Bottom_Box">
            <h4>We accept payment</h4>
            <div class="Footer_Container_Bottom_Box_Images">
                <img src="../../../static/images/footer/payment.png" alt="Rozai Payment" class="Footer_Container_Bottom_Box_Images_Image">
            </div>
        </div>
    </div>
   </div>
   <div class="Footer_Copyright">
        <p>
            &#169; Copyright &#169; 2021 Rozai Traders
        </p>
        <div class="Footer_Copyright_Box">
            <i class="fa-brands fa-instagram Footer_Copyright_Box_Icons"></i>
            <i class="fa-brands fa-square-twitter Footer_Copyright_Box_Icons"></i>
            <i class="fa-brands fa-facebook-f Footer_Copyright_Box_Icons"></i>
        </div>
   </div>
</footer>